{% extends "main/components/base.html" %} {% block body %}
<div class="about-img1">
    <div class="ptext">
        <span class="border">
           About Armen-finance
        </span>
    </div>
</div>

<section class="section section-light">
    <p class="about-armen"><span class="text-primary text-uppercase">Armen-finance</span> a secure trading environment which permits traders
    </p>
    <p class="about-armen text-center">to trade exclusively online.</p>
</section>

<div class="about-img2">
    <div class="ptext">
        <span class="border trans">
            Armen-finance
        </span>
    </div>
</div>

<section class="section section-dark">
    <p> Armen-finance is a legally operating company in the UK and US. We were one of the first to invest in cryptocurrencies. Armen-finance is a leading blockchain investment company. Our mission is to act as a catalyst for universal adoption and blockchain
        innovation. We focus only on investing in blockchain technologies. Our team has experience in both traditional financing and emerging blockchain technology. We invest, among others, in cryptocurrencies such as BTC, XRP, ETC, and ETH. We also give
        a chance to new , dynamically developing ICO projects that bring huge profits in an amazingly short time.</p>
</section>

<div class="about-img3">
    <div class="ptext">
        <span class="border trans">
            Armen-finance
        </span>
    </div>
</div>

<section class="section section-dark">
    <p>Our team consists only of qualified people connected with the financial industry for years, who are also passionate about the fledgling but very strong cryptocurrency market and blockchain technology. They constantly monitor the market to provide
        you - our investors with even greater profits. Having strong relationships with the most promising entrepreneurs and other leading investors in the industry, Armen-finance implements an investment strategy, building a diversified portfolio and
        adjusting the added value to its portfolio companies.</p>
</section>

{% endblock %}