<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activation sent</title>
    <!-- bootstrapcdn  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" href="/static/css/style.css">

    <style>
        .mail-sent-img-mobile {
            width: 80%;
            margin: 15% 0;
            margin-top: 20%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 mail-sent-container text-center">
                <!-- desktop -->
                <div class="desktop">
                    <img src="/static/img/mail-sent.svg" alt="" class="mail-sent-img">
                </div>

                <!-- mobile -->
                <div class="mobile">
                    <img src="/static/img/mail-sent.svg" alt="" class="mail-sent-img-mobile">
                </div>
                <h3 class="my-4">HI!,Welcome To Armen Finance</h3>
                <p>Please, Check your Email to Activate Your Account</p>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</body>

</html>