{% extends "main/components/base.html" %} {% load widget_tweaks %} {% block body %}

<!-- Book appointment image section -->
<div class="book-appointment-header">
    <div class="book-appointment-inner">
        <h3>SCHEDULE AN APPOINTMENT</h3>
    </div>
</div>

<!-- book appointment body -->
<div class="book-appointment-body">
    <div class="container">
        <div class="row book-appointment-body-margin">
            <div class="col-lg-6">
                <h2 id="save-time">Save Time by Booking Ahead</h2>
                <p>
                    We know your time is valuable. Whether you want to open a new account, apply for a business loan, or talk about setting your financial goals, our specialists are here to help at your convenience.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="schedule-form">
                    <h3 id="schedule-meeting-head">SCHEDULE A MEETING</h3>
                    <form action="" class="" method="post">
                        {% include "main/messages/messages.html" %} {% csrf_token %}
                        <label for="">Full Name*</label>
                        <!-- <input type="text" class="form-control"> -->
                        {{ form.full_name|add_class:'form-control'}}
                        <label for="">Phone*</label> {{ form.phone_number|add_class:'form-control'}}

                        <label for="">Email*</label> {{ form.email|add_class:'form-control'}}

                        <label for="">Speak with</label> {{ form.speak_with|add_class:'form-control'}}

                        <label for="">Reason For Meeting</label> {{ form.reason_for_meeting|add_class:'form-control'}}


                        <label for="">Preferred Meeting Date & Time</label> {{ form.meeting_time|add_class:'form-control'|attr:'id:date-field' }}


                        <button class="btn btn-primary btn-block mt-4">
                                Book Appointment
                            </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#date-field').flatpickr({
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        minDate: "today",
        maxDate: new Date().fp_incr(30) // 30 days from now
    });
</script>
{% endblock %}