{% extends 'main/dashboard/dashboard-base.html' %} 
{% load widget_tweaks %}
{% block body %}
<div class="wrapper">

    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <i class="ti-align-left"></i>
        </a>
    </nav>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar-->
        <section class="sidebar">

            <div class="user-profile">
                <div class="ulogo">
                    <a href="index.html">
                        <!-- logo for regular state and mobile devices -->
                        <h3><b>Crypto</b>Admin</h3>
                    </a>
                </div>
                <div class="profile-pic">
                    <img src="http://crypto-admin-templates.multipurposethemes.com/sass/images/user5-128x128.jpg" alt="user">
                    <div class="profile-info">
                        <h5 class="mt-15">John Doe</h5>
                        <div class="text-center d-inline-block">
                            <a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Settings"><i class="ion ion-gear-b"></i></a>
                            <a href="#" class="link px-15" data-toggle="tooltip" title="" data-original-title="Email"><i class="ion ion-android-mail"></i></a>
                            <a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><i class="ion ion-power"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- sidebar menu-->
            <ul class="sidebar-menu" data-widget="tree">

                <li class="header nav-small-cap">PERSONAL</li>
                <!-- dashboard everything-->
                <li class="treeview">
                    <a href="#">
                        <i class="ti-dashboard"></i>
                        <span>Dashboard</span>
                        <span class="pull-right-container">
			<i class="fa fa-angle-right pull-right"></i>
		  </span>
                    </a>
                    <ul class="treeview-menu">
                        <!-- account overview  -->
                        <li><a href="#"><i class="ti-stats-up"></i> Account Overview</a></li>

                        <!-- Transfer -->
                        <li class="treeview">
                            <a href="#">
                                <i class="ti-exchange-vertical"></i> Transfer
                                <span class="pull-right-container">
				<i class="fa fa-angle-right pull-right"></i>
			  </span>
                            </a>
                            <ul class="treeview-menu">
                                <!-- transfer history -->
                                <li>
                                    <a href="#">
                                        <i class="ti-calendar"></i> Transfer History</a>
                                </li>
                                <!-- select transfer means -->
                                <li class="treeview">
                                    <a href="#">Select Transfer Method
				  <span class="pull-right-container">
						<i class="fa fa-angle-right pull-right"></i>
				  </span>
				</a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="ti-home"></i> To Armen  Account</a></li>
                                        <li><a href="#"><i class="ti-world"></i>To Foreign Account </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- cards -->
                        <li><a href="#"><i class="ti-credit-card"></i> Cards</a></li>

                        <!-- Bank Services  -->
                        <li class="treeview">
                            <a href="#">
                                <i class="ti-light-bulb"></i> Services
                                <span class="pull-right-container">
				<i class="fa fa-angle-right pull-right"></i>
			  </span>
                            </a>
                            <ul class="treeview-menu">
                                <!-- Bank statement history -->
                                <li>
                                    <a href="#">
                                        <i class="ti-calendar"></i> My Bank Statement</a>
                                </li>
                            </ul>
                        </li>
                        <!-- bill payment -->
                        <li><a href="#"><i class="ti-wallet"></i>Bill Payments</a></li>

                        <!-- settings  -->
                        <li class="treeview">
                            <a href="#">
                                <i class="ti-settings"></i> Settings
                                <span class="pull-right-container">
				<i class="fa fa-angle-right pull-right"></i>
			  </span>
                            </a>
                            <ul class="treeview-menu">
                                <!-- transfer history -->
                                <li><a href="#">Change Password</a></li>
                                <li><a href="#">Transfer Limit</a></li>
                                <li><a href="#">Update Account Info</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="pages/auth_login.html">
                        <i class="ti-power-off"></i>
                        <span>Log Out</span>
                    </a>
                </li>

            </ul>
        </section>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                {% include 'main/dashboard/dashboard-online-id.html' %}
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- account balance things -->
                    <div class="col-lg-12 col-12">
                        <a class="box box-link-pop " href="javascript:void(0)">
                            <div class="box-body py-20 bg-success">
                                <h3 class="font-weight-600 mt-0">
                                    Account Number
                                    <br> 65222157855
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">

                        <div class="box box-body">
                            <h6>
                                <span class="text-uppercase">Total Account Balance</span>
                                <!-- <span class="float-right"><a class="btn btn-xs btn-primary" href="#">View</a></span> -->
                            </h6>
                            <br>
                            <p class="font-size-26">$845,1258</p>
                        </div>
                    </div>


                    <!-- Transfer Form -->
                    <div class="col-lg-12">
                        <div class="box box-link-pop">
                            <div class="box-body">
                                <h3 class="text-center">Change Password</h3>
                                <section>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <form action="" method="post">
                                                         {% csrf_token %}
                                                         <!-- {{ form }} -->
                                                        <!-- {{ change_form }} -->
                                                        <div class="form-group">
                                                            <!-- Select a Purpose -->
                                                            <label for="" class="my-4">
														Old Password
													</label>
															<!-- <input type="password" class="form-control form-error" placeholder="Old Password" class="my-4"> -->
															{{ form.old_password|add_class:'form-control' }}
                                                            <span class="help-block">Field cannot be empty</span>
                                                        </div>

                                                        <div class="form-group">
                                                            <!-- Select a Purpose -->
                                                            <label for="" class="my-4">
														New Password
                                                    </label>
                                                            {{ form.new_password1|add_class:'form-control' }}
                                                            <!-- <input type="password" class="form-control form-error" placeholder="New Password" class="my-4"> -->
                                                            <span class="help-block">Field cannot be empty</span>
                                                        </div>
                                                        <div class="form-group">
                                                            <!-- Select a Purpose -->
                                                            <label for="" class="my-4">
														Confirm Password
                                                    </label>
                                                            {{ form.new_password2|add_class:'form-control'}}
                                                            <span class="help-block">Field cannot be empty</span>
                                                        </div>


                                                        <button type="submit" class="btn btn-flat btn-warning btn-block  my-4">Continue</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>
                </aside>
                <!-- /.control-sidebar -->

                <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
                <div class="control-sidebar-bg"></div>

        </div>
        <!-- ./wrapper -->
        {% endblock %}