{% extends "main/components/base.html" %} {% block body %}
<!-- credit card banner -->
<div class="credit-card-banner">
    <div class="credit-card-banner-inner">
        <h3>Armen Finance Credit Cards</h3>
        <p>Power to purchase that takes you places with Global Service & Access to Incredible Benefits </p>
    </div>
</div>

<!-- credit card information -->
<div class="armen-finance-gold container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <!-- Gold Card -->
            <div class="row">
                <div class="col-lg-6">
                    <img class="credit-card-image" src="https://www.mastercard.com.ng/en-ng/consumers/find-card-products/credit-cards/_jcr_content/contentpar/herolight/image.adaptive.479.high.jpg/1512460229288.jpg" alt="">
                </div>

                <div class="col-lg-6 credit-card-body">
                    <h2>Armen Finance Gold</h2>
                    <h4>Features</h4>
                    <p>
                        <ul>
                            <li>Daily spend limit on ATM ($1,000) , POS ($10,000) and WEB ($5,000) anywhere in the World with your ArmenFinance Gold card.</li>
                            <li>Access to international emergency services with your ArmenFinance Gold card i.e. Emergency Card Replacement & Emergency Cash Advance in situations where your card gets lost or damaged.</li>
                            <li>International Credit Card Capabilities.</li>
                        </ul>


                        <!-- Gold card -->
                        <button type="button" class="btn btn-success flat" data-toggle="modal" data-target="#gold-card">
                            Learn More
                        </button>

                        <!-- Gold card Modal -->
                        <div class="modal fade" id="gold-card" tabindex="-1" role="dialog" aria-labelledby="gold-cardTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <img src="https://www.mastercard.com.ng/en-ng/consumers/find-card-products/credit-cards/_jcr_content/contentpar/herolight/image.adaptive.479.high.jpg/1512460229288.jpg" alt="" class="popup-image">

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>

                                    </div>
                                    <div class="modal-body">
                                        <h3>SECURITY, SAFETY AND SPEED</h3>
                                        <p>Ready to Updgrade your benefits and purchasing power? Put your strong credit to work and enjoy recognition, benfits, and protection for whatever you buy, wherever you go with ArmenFinance Gold Card.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="" type="button" class="btn btn-success btn-block">Create Card</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            <hr>

            <!-- Platinum Card -->
            <div class="row" class="">
                <div class="col-lg-6 credit-card-body desktop">
                    <h2>Armen Finance Platinum Card</h2>
                    <h4>Features</h4>
                    <p>
                        <ul>

                            <li>Daily spend limit on ATM ($2,500) , POS ($20,000) and WEB ($7,000) anywhere in the World with your ArmenFinance Gold card.</li>
                            <li>Access to international emergency services with your ArmenFinance Gold card i.e. Emergency Card Replacement & Emergency Cash Advance in situations where your card gets lost or damaged.</li>
                            <li>International Credit Card Capabilities.</li>
                        </ul>

                        <!-- Platinum -->
                        <button type="button" class="btn btn-success flat" data-toggle="modal" data-target="#platinum-card">
                    Learn More
                </button>
                    </p>
                </div>
                <div class="col-lg-6 desktop">
                    <img class="credit-card-image" src="https://www.mastercard.com.ng/en-ng/consumers/find-card-products/credit-cards/_jcr_content/contentpar/herolight_865623164/image.adaptive.479.high.jpg/1512461762448.jpg" alt="">

                </div>

                <div class="col-lg-6 mobile">
                    <img class="credit-card-image" src="https://www.mastercard.com.ng/en-ng/consumers/find-card-products/credit-cards/_jcr_content/contentpar/herolight_865623164/image.adaptive.479.high.jpg/1512461762448.jpg" alt="">

                </div>

                <div class="col-lg-6 credit-card-body mobile">
                    <h2>Armen Finance Platinum Card</h2>
                    <h4>Features</h4>
                    <p>
                        <ul>

                            <li>Daily spend limit on ATM ($2,500) , POS ($20,000) and WEB ($7,000) anywhere in the World with your ArmenFinance Gold card.</li>
                            <li>Access to international emergency services with your ArmenFinance Gold card i.e. Emergency Card Replacement & Emergency Cash Advance in situations where your card gets lost or damaged.</li>
                            <li>International Credit Card Capabilities.</li>
                        </ul>

                        <!-- Platinum -->
                        <button type="button" class="btn btn-success flat" data-toggle="modal" data-target="#platinum-card">
                    Learn More
                </button>
                    </p>
                </div>



                <!-- Platinum Modal -->
                <div class="modal fade" id="platinum-card" tabindex="-1" role="dialog" aria-labelledby="platinum-cardTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img src="https://www.mastercard.com.ng/en-ng/consumers/find-card-products/credit-cards/_jcr_content/contentpar/herolight_865623164/image.adaptive.479.high.jpg/1512461762448.jpg" alt="" class="popup-image">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>
                            <div class="modal-body">
                                <h3>Platinum Benefits Revealed</h3>
                                <p>The defining purchasing tool for premium cardholders looking for worldwide acceptance, excellent service and access to remarkable benefits. Enjoy a life less ordinary and endlessly rewarding with benefits and services that
                                    allow you to get the best value with unmatched savings.</p>
                            </div>
                            <div class="modal-footer">
                                <a href="" type="button" class="btn btn-success btn-block">Create Card</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- World Card -->
            <div class="row">
                <div class="col-lg-6">
                    <img class="credit-card-image" src="https://www.mastercard.com.ng/en-ng/consumers/find-card-products/credit-cards/_jcr_content/contentpar/herolight_765789499/image.adaptive.479.high.jpg/1512462145280.jpg" alt="">
                </div>

                <div class="col-lg-6 credit-card-body">
                    <h2>Armen Finance World Card</h2>
                    <h4>Features</h4>
                    <p>
                        <ul>
                            <li>Daily spend limit on ATM ($5,000) , POS ($36,000) and WEB ($10,000) anywhere in the World with your ArmenFinance Gold card.</li>
                            <li>Access to international emergency services with your ArmenFinance Gold card i.e. Emergency Card Replacement & Emergency Cash Advance in situations where your card gets lost or damaged.</li>
                            <li>International Credit Card Capabilities.</li>
                        </ul>
                        <!-- World -->
                        <button type="button" class="btn btn-success flat" data-toggle="modal" data-target="#world-card">
                            Learn More
                        </button>
                    </p>
                </div>



                <!-- World Modal -->
                <div class="modal fade" id="world-card" tabindex="-1" role="dialog" aria-labelledby="world-cardTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img src="https://www.mastercard.com.ng/en-ng/consumers/find-card-products/credit-cards/_jcr_content/contentpar/herolight_765789499/image.adaptive.479.high.jpg/1512462145280.jpg" alt="" class="popup-image">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>
                            <div class="modal-body">
                                <h3>Travel, Luxury & Assurance</h3>
                                <p>We are unlocking for you a world of travel, lifestyle, and insurance benefits giving you the flexibility to explore the places and pursuits that matter most to you. Enjoy exclusive access and peace of mind whether you are
                                    traveling on a business trip or for vacation.</p>
                            </div>
                            <div class="modal-footer">
                                <a href="" type="button" class="btn btn-success btn-block">Create Card</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

{% endblock %}