{% extends "main/components/base.html" %} {% block body %}
<!-- credit score banner -->
<div class="credit-score-banner">
    <!-- be in the know  -->
    <div id="credit-score-container">
        <div id="be-in-the-know">
            <p>Be in the know with ArmenFinance</p>
        </div>
        <button id="be-in-the-know-button">My Credit Score & Report <i class="fas fa-arrow-right"></i></button>
    </div>

    <!-- what you need to know -->
    <div id="what-you-need-to-know">
        <div class="row">
            <div class="col-lg-4">
                <h4>What You Need to Know:</h4>
            </div>
            <div class="col-lg-8">
                <p>There are various types of credit scores, and lenders use a variety of different types of credit scores to make lending decisions. The credit score you receive is based on the VantageScore 3.0 model and may not be the credit score model
                    used by your lender.</p>
                <p>
                    Subscription price is $24.95 per month (plus tax where applicable).
                </p>
            </div>
        </div>
    </div>


</div>

<!-- update credit score -->
<!-- Take control of your credit health -->
<div class="container take-control-container">
    <div class="jumbotron" id="jumbotron-color">
        <h2 class="take-control-header-main text-center">Take Control of your Credit</h2>
        <div class="row">
            <div class="col-lg-3 text-center">
                <h4>
                    Credit Freeze & UnFreeze
                </h4>
                <i class="take-control-icon fas fa-credit-card"></i>
                <p>
                    Freeze to prevent new accounts being opened. Unfreeze to apply for credit
                </p>
            </div>
            <div class="col-lg-3 text-center">
                <h4>
                    Free Annual Credit Report
                </h4>
                <i class="take-control-icon fas fa-scroll"></i>
                <p>
                    Get your free annual credit report from annualcreditreport.com. We’re currently offering free weekly credit reports online due to COVID-19.
                </p>
            </div>
            <div class="col-lg-3 text-center">
                <h4>
                    Credit
                    <br> Dispute
                </h4>
                <i class="take-control-icon fas fa-exclamation-triangle"></i>
                <p>
                    Confirm information on your credit report for free, or check a current dispute status.
                </p>
            </div>
            <div class="col-lg-3 text-center">
                <h4>
                    Fraud
                    <br> Alerts
                </h4>
                <i class="take-control-icon fas fa-credit-card"></i>
                <p>
                    Notify creditors to take extra steps to verify your identity before extending credit.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- would you like to check your credit score -->
<div class="check-credit-score text-center">
    <h3>Would you like to see your credit score now?</h3>
    <button class="btn btn-warning">
            YES SHOW ME MY SCORE
        </button>

</div>


{% endblock %}