<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armen Finance</title>

    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <!-- jquery and popper cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <!-- bootstrapcdn  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

    <!-- main css file -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <!-- owl carousel -->
    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous"
    />
    <!-- js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>

    <!-- custom script tag -->
    <script src="/static/js/main.js"></script>

    <!-- flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


    <style>
        #choose-wrfy-footer>a {
            color: #9b9999;
        }
    </style>
    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>


</head>

<body>
    {% include "main/components/nav.html" %} {% block body %} {% endblock %}

    <!-- footer -->
    <footer id="footer-bg">
        <div class="container">
            <div class="row">
                <!-- about armen finance footer section -->
                <div class="col-lg-4" id="footer-logo">
                    <!-- insert logo here -->
                    <img src="/static/img/logo_transparent.png" alt="">
                    <p>
                        We are committed to being a driving force in the cryptocurrency trading revolution by increasing adoption of this innovative technology around the world. Using our streamlined trade listing process, we will advance new, innovative cryptocurrency projects
                        that could potentially transform the way goods, services and operations are managed globally.
                    </p>
                </div>

                <!-- Account types -->
                <div class="col-lg-4" id="choose-wrfy-footer">
                    <h3>Choose What's Right For You</h3>

                    <!-- schedule a meeting -->
                    <a href="{% url 'main:book-appointment' %}">
                        Schedule a meeting
                    </a>
                    <!-- checking accounts -->
                    <a href="">
                        Checking Accounts
                    </a>
                    <!-- invest -->
                    <a href="https://uniqtrades.com">
                        Invest
                    </a>
                    <!-- Upgrade credit score -->
                    <a href="{% url 'main:update-credit-score' %}">

                        Update Credit Score
                    </a>
                    <!-- find a credit card -->
                    <a href="{% url 'main:create-card' %}">
                    Find a Credit Card
                        <!-- home lending -->
                        <a href="">
                        Home Lending
                    </a>
                    <!-- savings account -->
                    <a href="{% url 'main:savings-account' %}">
                        Savings Account
                    </a>


                </div>

                <!-- security badges-->
                <div class="col-lg-4" id="security-badge">
                    <h3>Backed by</h3>
                    <img src="/static/img/badge.png" alt="">
                </div>
            </div>
        </div>
    </footer>
</body>

</html>